version: '3.8'

services:
  app:
    container_name: noir-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://cosmos_user:cosmos_password@db:5432/noir
      - JWT_SECRET=${JWT_SECRET}
    volumes:
      - ./public/uploads:/app/public/uploads
    depends_on:
      - db

  db:
    container_name: noir-db
    build:
      context: .
      dockerfile: Dockerfile.db
    restart: always
    environment:
      - POSTGRES_USER=cosmos_user
      - POSTGRES_PASSWORD=cosmos_password
      - POSTGRES_DB=noir
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5430:5432"

volumes:
  postgres_data:
